.product-card{
    width:320px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.product-card-img{
    width: auto;
    height: auto;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.product-card-wrapping{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.product-card-wave{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom:0;
    left: 0;
}
.product-card:hover .product-card-wrapping{
    opacity: 1;
}
.product-card:hover .product-card-img{
    transform: translateY(-65px);
}

@media (max-width: 768px) {
    .product-card{
        width:280px;
        height: 350px;
    }
    
}