@import "./product-card.css";
@import "./slider.css";

.c-pointer{
    cursor: pointer;
}
.page-hero-section{
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    max-height: 80vh;
    display: flex;
    margin: 0 !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}