.slider-container{
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.slide.hide{
    opacity: 0;
}
.dots-container{
    position: relative;
    height: 150px;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 1;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.dot.active{
    border-radius: 4px;
    transform: scaleX(2);
}

@media (max-width: 768px) {
    .slider-container{
        border-radius: 5px;
    }
    .dots-container{
        height: 50px;
    }
}