@import "../animation/fish-animation.css";

.animated-fish-wrapping{
    height: auto !important;
    width: 360px;
    display: flex;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 100%;
    position: relative;
}

.animated-fish{
    width: 100% ;
    height: 100% ;
    object-fit: contain;
    position: absolute;
    animation: fishAnimation 4s linear infinite ;
    z-index: 1;
}
.animated-fish-text{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #FFF;
    text-align: center;
    z-index: 2;
    animation: fishTextAnimation 4s linear infinite;
}

@media(max-width: 768px) {
    .animated-fish-wrapping{ 
        width: 200px !important;
    }
}