.solid-primary-button{
    background-color: var(--primary-color) !important;
    color: #fff !important;
    padding: 15px 45px ;
    border-radius: 100px !important;
    border: none !important;
    font-weight: bold;
    transition: all 0.3s ease-in-out !important;
}
.solid-primary-button:hover{
    transform: translateY(-5px)
}

.outlined-primary-button{
    border: 2px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    padding: 15px 45px ;
    border-radius: 100px !important;
    background-color: transparent;
    font-weight: bold;
    transition: all 0.3s ease-in-out !important;
}
.outlined-primary-button:hover{
    background-color: var(--primary-color) !important;
    transform: translateY(-5px);
    color: #fff !important;
}