
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Readex+Pro:wght@160..700&display=swap');


.f-heading{
    font-family: 'Playfair Display', serif !important;
    font-size: 64px;
    font-weight:normal;
}
.f-body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight:regular;
}
.f-body-II{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight:regular;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: normal;
}
h3{
    font-family:'Open Sans', sans-serif;
    font-size:24px;
    font-weight: regular;
}
.f-call-to-action{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.f-menu{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}
.f-title-card{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.f-call-to-action-of-card{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.f-h2-of-card{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 32px;
}
.f-phone-number{
    font-family: 'Lato' , sans-serif !important;
    font-size: 16px;
    font-weight: regular;
    line-height: 25px;
}
.f-copy-right{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: regular;
}
.f-footer-text{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: regular;
}
.f-footer-text-bold{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.f-headline-IV{
    font-family: 'DM Sans', serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
}
.fs-64{
    font-size: 64px !important;
}
.fs-42{
    font-size: 42px !important;
}
.fs-40{
    font-size: 40px !important;
}
.fs-32{
    font-size: 32px !important;
}
.fs-24{
    font-size: 24px !important;
}
.fs-16{
    font-size: 16px !important;
}
.fs-14{
    font-size: 14px !important;
}
.fs-12{
    font-size: 12px !important;
}

@media(max-width: 768px){
    .fs-64,h1{
        font-size: 40px !important;
    }
    .fs-42,h2{
        font-size: 32px !important;
    }
    .fs-40{
        font-size: 28px !important;
    }
    .fs-32{
        font-size: 24px !important;
    }
    .fs-24,h3{
        font-size: 20px !important;
    }
    .fs-16{
        font-size: 14px !important;
    }
    .fs-14,
    .fs-12{
        font-size: 12px !important;
    }
}
